<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Haus23 - Galerie und Kneipe in Cottbus</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- inject:css -->
    <link rel="stylesheet" href="/assets/css/bootstrap-bundle.css">
    <link rel="stylesheet" href="/assets/css/site.css">
    <!-- endinject -->
</head>
<body id="haus23">
<header>
    <nav class="navbar navbar-full navbar-dark bg-inverse">
        <div class="container">
            <a class="navbar-brand" href="#">Haus23</a>
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">FOH</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Board</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tipprunde</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <h5 class="card-header">Neues an Board</h5>
                <ul class="list-group">
                    {% for t in topics %}
                    <li class="list-group-item{{ t.unread ? ' font-weight-bold' }}">
                        <span>{{ t.poster }}:</span>
                        <a href="{{ t.href }}">{{ t.subject }}</a>
                        <span class="topic-date">{{ t.date }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-push-6 col-md-3">
            <div class="card shoutbox">
                <h5 class="card-header">Telegramme</h5>
                <ul class="list-group" id="shout-list">
                    <script type="text/template" id="shout-item-tpl">
                        <li class="list-group-item">
                            <div id="shout-author" class="font-weight-bold"></div>
                            <div id="shout-content"></div>
                        </li>
                    </script>
                </ul>
                <div class="card-block shout-area" style="display: none">
                    <textarea name="msg" id="shout-msg" cols="30" rows="auto"></textarea>
                    <div class="text-xs-right">
                        <button id="btn-shout" class="btn btn-sm btn-secondary">Shout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- inject:js -->
<script src="/assets/js/bootstrap-bundle.js"></script>
<script src="/assets/js/main.js"></script>
<!-- endinject -->
</body>
</html>
